<div class="container p-4">
    <div class="row">
        <div class="container m-2">
            <button type="button" class="btn btn-secondary"><a style="text-decoration: none; color: white;"
                    href="/visores/secciones-r"><i class="fas fa-undo"></i> Regresar a Secciones</a></button>
            <h5>Lista Nominal</h5>
        </div>
        <div class="col-md-12" >

            <table id="example" class="table" style="height: 40vh;">
                <thead>
                    <tr>
                        <th scope="col">Sección</th>
                        <th scope="col">Casilla</th>
                        <th scope="col">N° Lista</th>
                        <th scope="col">PT</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Programa</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Votó</th>
                        <th scope="col">Promotor</th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th scope="col">Sección</th>
                        <th scope="col">Casilla</th>
                        <th scope="col">N° Lista</th>
                        <th scope="col">PT</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Programa</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Votó</th>
                        <th scope="col">Promotor</th>
                    </tr>
                </tfoot>
                <tbody>
                    {{#each lista}}
                    <tr>

                        {{#if apm}}
                        <td scope="row" style="color:red;"> {{seccion_lista}} </td>
                        <td style="color:red;">{{casilla}} </td>
                        <td style="color:red;">{{num_lista_nominal}} </td>
                        <td style="color:red;">{{vota_pt}} </td>
                        <td style="color:red;">{{ape_pat}} {{ape_mal}} {{nom2}} </td>
                        {{#if programa}}
                        <td style="color:red;">{{programa}}: ${{monto}}</td>
                        {{else}}
                        <td style="color:red;">Sin Apoyo</td>
                        {{/if}}
                        <td style="color:red;">{{telefono}} </td>
                        <td style="color:red;">{{direccion}} </td>
                        {{#if voto}}
                        <td style="color:red;">Sí</td>
                        {{else}}
                        <td style="color:red;">No</td>
                        {{/if}}
                        <td style="color:red;">{{apm}} {{app1}} {{app2}}</td>

                        {{else}}
                        <th scope="row"> {{seccion_lista}} </th>
                        <td>{{casilla}}</td>
                        <td>{{num_lista_nominal}} </td>
                        <td>{{vota_pt}} </td>
                        <td>{{ape_pat}} {{ape_mal}} {{nom2}}</td>
                        {{#if programa}}
                        <td>{{programa}}: ${{monto}}</td>
                        {{else}}
                        <td>Sin Apoyo</td>
                        {{/if}}
                        <td>{{telefono}} </td>
                        <td>{{direccion}} </td>
                        {{#if voto}}
                        <td>Sí</td>
                        {{else}}
                        <td>No</td>
                        {{/if}}
                        <td>Sin Promotor Asignado</td>

                        {{/if}}

 
                    </tr>
                    {{else}}
                    <tr>
                        <th>Sin Datos</th>
                        <td>Sin Datos</td>
                        <td>Sin Datos</td>
                        <td>Sin Datos</td>
                        <td>Sin Datos</td>
                        <td>Sin Datos</td>
                        <td>Sin Datos</td>
                        <td>Sin Datos</td>
                        <td>Sin Datos</td>
                        <td>Sin Datos</td>
                        <td>Sin Datos</td>
                        <td>Sin Datos</td>
                        <td>Sin Datos</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            <h5>Resultados</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th style="text-align:center;" scope="col">Totales</th>
                        <th style="text-align:center;" scope="col">Votos Totales</th>
                        <th style="text-align:center;" scope="col">Promovidos</th>
                        <th style="text-align:center;" scope="col">Meta</th>
                        <th style="text-align:center;" scope="col">Promovidos</th>
                        <th style="text-align:center;" scope="col">Votos Promovidos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th style="text-align: center;"><strong>{{negro1b.negro1}}</strong></th>
                        <td style="text-align: center;"><strong>{{negro2b.negro2}}</strong></td>
                        <td style="text-align: center; color:rgb(104, 6, 31);"><strong>{{rojo1b.rojo1}}</strong></td>
                        <td style="text-align: center; color:rgb(104, 6, 31);"><strong>{{rojo2b.rojo2}}</strong></td>
                        <td style="text-align: center; color:red;"><strong>{{promo1b.promo1}}</strong></td>
                        <td style="text-align: center; color:red;"><strong>{{promo2b.promo2}}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .my-custom-scrollbar {
        position: relative;
        height: 200px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }
</style>
